<div class="gradient-bg min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0">
  <header class="max-w-lg mx-auto">
    <a href="#">
      <h1 class="text-4xl font-bold text-white text-center">Deeper Signals</h1>
    </a>
  </header>

  <main
    class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl"
  >
    <router-outlet></router-outlet>
  </main>

  <div class="max-w-lg mx-auto text-center mt-12 mb-6">
    <p class="text-white">
      Developed by
      <a
        href="https://ossamarafique.com"
        class="font-bold hover:underline"
        target="_blank"
      >
        Ossama Rafique
      </a>
    </p>
  </div>

  <footer class="max-w-lg mx-auto flex justify-center text-white">
    <a href="https://ossamarafique.com" target="_blank" class="hover:underline">
      Portfolio
    </a>
    <span class="mx-3">•</span>
    <a
      href="https://github.com/OssamaRafique"
      target="_blank"
      class="hover:underline"
    >
      Github
    </a>
    <span class="mx-3">•</span>
    <a
      href="https://linkedin.com/in/ossamarafique"
      target="_blank"
      class="hover:underline"
    >
      Linkedin
    </a>
  </footer>
</div>
